.game-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-area {
  height: 600px;
  width: 600px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.game-area-parts-button {
  height: 250px;
  width: 500px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-area-parts-word {
  height: 250px;
  width: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-button {
  height: 50px;
  width: 200px;
}

@media (max-width: 768px) {
  .game-area {
    width: 100%;
    max-width: 370px;
  }

  .game-area-parts-word {
    width: 100%;
    max-width: 350px;
  }

  .game-area-parts-button {
    width: 100%;
    max-width: 350px;
  }

  .game-button {
    height: 50px;
    width: 150px;
  }
}
